body {
    color: white;
    background-color: black;
<<<<<<< HEAD
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
=======
>>>>>>> e5dabbdddc7d10b74055ee26b3c93528bcb1dbb3
}